* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-family: "Space Mono";
}
h3,
a {
  color: grey;
  /* font-family: 'Space Mono'; */
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 10px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  transition: 0.4s;
  color: #000000;
  font-size: 0.99em;
}

.main-nav a:hover {
  /* background-color:rgba(0, 198, 255, 0.62) ; */
  color: #000;
  border: 1px solid #000;
  /* border-radius: 10px; */
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /* border: 1px solid #a2a2a2; */
  background-image: linear-gradient(to right bottom, #c5f0f8, #ffded5);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    .header {
      width: 100%;
      margin: 0;
      max-width: 1150px;
      /* position: relative; */
    }
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
  }
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.about-para {
  color: grey;
  font-family: "Space Mono";
}

.row-0 {
  margin-top: 120px;
}

.sec-head {
  margin-bottom: 20px;
}

.thanks-para {
  font-family: "Space Mono";
  margin-top: 20px;
}

.gears {
  font-family: "Space Mono";
}
.picc {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 150px;
}

@media (min-width: 769px) {
  .picc {
    align-items: center;
    margin-left: 200px;
  }
}

button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #000;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #000;
  content: "";
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #000;
}

/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  background-color: #000;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.photos {
  display: flex;
  /* background-color: #fff; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  margin-left: 200px;
  /* max-width: 980px; */
}

.photos img {
  display: block;
  /* float: left; */
  flex: 0 0 auto;
  /* background-color: #fff; */
}

@media screen and (min-width: 1024px) {
  .photos img {
    width: calc(100% / 8);
    height: calc(100% / 8);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photos img {
    width: calc(100% / 4);
    height: calc(100% / 4);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .photos img {
    width: calc(100% / 3);
    height: calc(100% / 3);
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .photos img {
    width: calc(100% / 2);
    height: calc(100% / 2);
  }
}

@media screen and (max-width: 320px) {
  .photos img {
    width: 100%;
    height: 100%;
  }
}

.heading-secondary {
  font-family: "Roboto Mono";
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    rgb(40, 166, 251),
    rgb(31, 79, 190)
  );
  /* display: inline-block; */
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 1px;
}

@media screen and (max-width: 56.25em) {
  .heading-secondary {
    margin-top: 100px;
  }
}

@media screen and (max-width: 75em) {
  .heading-secondary {
    margin-top: 100px;
  }
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(10deg) scale(1.1);
  text-shadow: 0.5rem 2rem 1rem rgba(19, 19, 18, 0.84);
}

@media (hover: none) {
  .heading-secondary:hover {
    transform: none;
    text-shadow: none;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #666;
}

/* STRUCTURE */
.wrapper {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 10px auto;
}

header {
  padding: 0 15px;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}

.column1 {
  font-family: "Space Mono";
  flex: 1;
  border: 1px solid gray;
  margin: 20px;
  padding: 10px;
}
.column1:first-child {
  margin-left: 0;
}
.column1:last-child {
  margin-right: 0;
}

footer {
  padding: 0 15px;
}

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column1:nth-last-child(2) {
    margin-right: 0;
  }
  .columns .column1:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  .columns .column1 {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}

.footpara {
  text-align: center;
}

.text-uppercase {
  text-align: center;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #00356B; */
}
